<%- include("_header") -%>

<h1>Codeial | Profile Page</h1>
<ul>
    <li>Username: <%= user.name %></li>
    <li>Email: <%= user.email %></li>
    <li><a href="/users/sign-in">Sign In</a></li>
</ul>

<%- include("_footer") -%>